<div class="mylove">
	<p class="love_num"><span>喜欢(2)</span></p>
	<div class="love_one">
		<p class="biaoqian">去远方</p>
		<h4>朝圣山南扎央宗--探索藏文化之源</h4>
		<dl>
			<dd><img src="img/post_3.png"/></dd>
			<dd><img src="img/post_4.png"/></dd>
			<dd><img src="img/post_5.png"/></dd>
		</dl>
	</div>
	<div class="love_one clearfix">
		<p class="biaoqian">去远方</p>
		<h4>朝圣山南扎央宗--探索藏文化之源探索藏文化之源探索藏文化之源</h4>
		<ul class="love_info">
			<li class="love_recon">那里有个很窄的洞，钻进去曾是莲花生大师修行的地方，在藏民心中钻洞是为了洗清</li>
			<li class="love_png"><img src="img/post_1.png"/></li>
		</ul>
	</div>
</div>